.Game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Role {
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 1rem;
}

h3 {
  color: white;
  background-color: #525252;
  padding: 0.8rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.CardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  justify-content: center;
}
