.Game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Role {
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 0.5rem;
}

h3 {
  color: white;
  background-color: #00000044;
  padding: 0.8rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.GridHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.GameContainer {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #222;
}

.CardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  place-items: center;
}

.screw {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(135deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%); /* W3C */
  box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.right {
  left: auto;
  right: 1rem;
  transform: rotate(60deg);
}
.indent {
  height: 10px;
  width: 33px;
  margin-top: 10px;
  box-shadow: inset 0px 1px 8px #222;
  transform: rotate(150deg);
  border-radius: 2px;
  margin-left: -2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h4 {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 span {
  color: black;
  opacity: 50%;
  margin: 0 0.5rem 0 0;
}

.red {
  background: linear-gradient(135deg, #d25028 0%, #ed8745 100%); /* W3C */
}

.blue {
  background: linear-gradient(135deg, #57bfd4 0%, #3a6c9d 100%); /* W3C */
}
